<div class="port">
<h1 class="text-center pt-5 pb-5 text-white ">Portfolio</h1>

<div class="card-cont">

<div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">Web Design</h4>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">Web Application development</h4>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">Logo Design</h4>
    </div>
  </div>
</div>

</div>

