<div class="bg-dark container-fluid aboutme">
    <div>
        <h1 class="bio">About me</h1>
        <p class="bio2">My name is Ahmed Mustafa Iam skilled web developer with expertise in modern technologies like HTML, CSS, JavaScript, and frameworks such as Angular. He specializes in creating user-friendly, responsive websites and applications, consistently delivering high-quality work that meets client needs iam Future Graduate who passionately learns and seeks corporate experience knowledge and to transform his skills into competence goals</p>
        <button class="btn-lg  btn btn-warning btn-aboutme">Download Resume</button>
    </div>
</div>