<div class="title">
    <div>
        <h1 class="text-center title-info">Skills</h1>
        <p class="text-center info">qweqwe qweqwe qweweqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqweweqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe  weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe weqwe qwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe qweqwe</p>
    </div>

    <div class="skills">

            
        <div class="skill-container">
            <div class="skill-lvl">
                <div style="width: 480px;" class="bg-lvl">
                    <p class="lvl-t">HTML</p>
                </div>
            </div>
            <div class="skill-lvl">
                <div style="width: 400px;" class="bg-lvl">
                    <p class="lvl-t">CSS</p>
                </div>
            </div>
            <div class="skill-lvl">
                <div style="width: 300px;" class="bg-lvl">
                    <p class="lvl-t">Javascript</p>
                </div>
            </div>
            <div class="skill-lvl">
                <div style="width: 250px;" class="bg-lvl">
                    <p class="lvl-t">Python</p>
                </div>
            </div>
            <div class="skill-lvl">
                <div style="width: 170px;" class="bg-lvl">
                    <p class="lvl-t">Node.js</p>
                </div>
            </div>
            <div class="skill-lvl">
                <div style="width: 400px;" class="bg-lvl">
                    <p class="lvl-t">Photoshop</p>
                </div>
            </div>
        </div>



        <div class="h2-br">
        <h2 class="h2">My Focus</h2>
            <div class="skill-list">
                <li class="mb-3 fw-bold">Web Design</li>
                <li class="mb-3 fw-bold">Problem Solving</li>
                <li class="mb-3 fw-bold">OOP</li>
                <li class="mb-3 fw-bold">Responsive Design</li>
            </div>



        </div>
    </div>
</div>
